@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.sidebar{
    height: 100%;
    width: 50vmin;
    background: rgb(52, 52, 52);
}

.sidebar .money{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar .money .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color: rgb(52, 52, 52);
    text-align: center;
    width: 100%;
    height: 7.5vmin;
    margin: 1.5vmin;
    border-radius: 1vmin;
}

.sidebar .money .add-money{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vmin;
    background-color: rgb(87, 196, 95);
    text-align: center;
    width: 10vmin;
    height: 7.5vmin;
    margin: 1.5vmin;
    border-radius: 1vmin;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.79);
    transition: 0.5s;
}

.sidebar .info{
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}

.sidebar .info .box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45vmin;
    height: 5vmin;
    margin: 1.5vmin;
    padding: 1vmin;
    font-size: 2.5vmin;
    font-weight: 600;
    border-radius: 1vmin;
    background-color: rgb(135, 134, 137);
    color: rgb(11, 11, 11);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    flex: 1;
    background: rgb(37, 37, 37);
}

.main .settings{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;

    width: 50vmin;
    height: 88vmin;
    background: rgb(54, 69, 71);
    color: white;
    font-weight: 600;
    padding: 1.5vmin;
    margin-right: 2vmin;
    gap: 2vmin;
    border-radius: 1vmin;
}

.main .settings .box{
    width: auto;
}

.main .settings .box p{
    margin-bottom: 0.5vmin;
}

.main .settings .box input{
    border: 2px solid rgba(255, 255, 255, 0.461);
    outline: none;
    padding: 0.5vmin;
    font-size: 4.5vmin;
    background: rgb(30, 28, 61);
    color: white;
    border-radius: 0.5vmin;
}

.main .settings .box input:disabled{
    opacity: 1;
    filter: saturate(50%);
}

.main .settings .box select{
    border: 2px solid rgba(255, 255, 255, 0.461);
    outline: none;
    width: 50vmin;
    padding: 0.5vmin;
    font-size: 4.5vmin;
    background: rgb(30, 28, 61);
    color: white;
    border-radius: 0.5vmin;
}

.main .settings .box select:disabled{
    opacity: 1;
    filter: saturate(50%);
}

.main .settings button{
    width: 100%;
    height: 10vmin;
    padding: 1vmin;
    font-size: 5vmin;
    font-weight: 500;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 0.5vmin;

    transition: all 0.5s;
}

.main .settings button:hover{
    filter: brightness(0.7);
}

.main .settings button:active{
    transform: translateY(0.5vmin);
}

#bet-btn{
    margin-bottom: 5vmin;
}

.main .settings .after input{
    border: none;
    outline: none;
    background: rgb(63, 100, 63);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0.7vmin rgba(255, 255, 255, 0.2);
    width: 50vmin;
    padding: 0.5vmin;
    font-size: 4.5vmin;
}

#profit{
    cursor: default;
}

#cashout-btn{
    box-shadow: 0 0 1vmin rgba(255, 255, 255, 0.4);
}

.main .game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .game .field{
    width: 100vmin;
    height: 79vmin;
    background: rgb(30, 59, 62);
    border-radius: 2vmin;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    box-shadow: inset 0 0 10vmin rgba(0, 0, 0, 0.15);
}

.main .game .field .factor{
    color: white;
    font-size: 7.5vmin;
    font-weight: 500;

    width: 30vmin;
    height: 30vmin;

    background: rgb(63, 135, 85);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 1.5vmin rgba(255, 255, 255, 0.2), inset 0 0 2vmin rgba(0, 0, 0, 0.2);

    margin-top: 2vmin;
}

.main .game .field .factor i{
    font-size: 5vmin;
}

.main .game .field .plane{
    color: rgb(130, 206, 122);
    text-shadow: 0 0 1vmin rgba(0, 0, 0, 0.452);
    margin-top: 1.5vmin;
    font-size: 20vmin;
    animation: flying 2s ease-in-out infinite;
    z-index: 1;
}

@keyframes flying{
    0%{
        transform: translateY(0vmin);
    }

    50%{
        transform: translateY(10vmin);
    }

    100%{
        transform: translateY(0vmin);
    }
}

.main .game .field .line{
    width: 2vmin;
    height: 30.5vmin;
    background: rgba(255, 255, 255, 0.548);
    position: absolute;

    top: 65vmin;
    z-index: 0;

    box-shadow:0 0 1vmin rgb(0, 0, 0, 0.1), inset 0 0 1vmin rgb(0, 0, 0, 0.1);
    animation: stretch 2s ease infinite;
    transition: 0.5s;
    
}

@keyframes stretch{
    0%{
        transform: scaleX(1);
    }
    
    50%{
        transform: scaleX(2);
    }

    100%{
        transform: scaleX(1);
    }
}

.main .game .header{
    font-family: "Platypi", serif;
    width: 100vmin;
    height: 10vmin;
    margin-bottom: 2vmin;
    background: rgb(54, 69, 71);
    color: white;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7.5vmin;
}

.main .game .header i{
    margin-left: 2.5vmin;
    color: rgb(138, 164, 156);
}

.add-money:hover{
    filter: brightness(0.8);
}

.add-money:active{
    transform: translateY(1vmin);
}
