@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap);

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidebar{
    height: 100%;
    width: 50vmin;
    background: rgb(52, 52, 52);
}

.sidebar .money{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar .money .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    color: rgb(52, 52, 52);
    text-align: center;
    width: 100%;
    height: 7.5vmin;
    margin: 1.5vmin;
    border-radius: 1vmin;
}

.sidebar .money .add-money{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vmin;
    background-color: rgb(87, 196, 95);
    text-align: center;
    width: 10vmin;
    height: 7.5vmin;
    margin: 1.5vmin;
    border-radius: 1vmin;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.79);
}

.sidebar .info{
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}

.sidebar .info .box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45vmin;
    height: 5vmin;
    margin: 1.5vmin;
    padding: 1vmin;
    font-size: 2.5vmin;
    font-weight: 600;
    border-radius: 1vmin;
    background-color: rgb(135, 134, 137);
    color: rgb(11, 11, 11);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    flex: 1;
    background: rgb(37, 37, 37);
}

.main .settings{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;

    width: 50vmin;
    height: 88vmin;
    background: rgb(71, 71, 101);
    padding: 1.5vmin;
    margin-right: 2vmin;
    gap: 2vmin;
    border-radius: 1vmin;
}

.main .settings .box{
    width: auto;
}

.main .settings .box p{
    margin-bottom: 0.5vmin;
}

.main .settings .box input{
    padding: 0.5vmin;
    font-size: 4.5vmin;
}

.main .settings .box select{
    width: 50vmin;
    padding: 0.5vmin;
    font-size: 4.5vmin;
}

.main .settings button{
    width: 100%;
    padding: 1vmin;
    font-size: 3.5vmin;
    font-weight: bold;
    background: lightgreen;
    border: none;
    outline: none;
    border-radius: 0.5vmin;
}

.main .game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .game .field{
    display: grid;
    padding: 2.5vmin 12.5vmin 1.5vmin;
    gap: 1vmin;
    width: 75vmin;
    height: 75vmin;
    background: rgb(30, 28, 61);
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    border-radius: 2vmin;
}

.main .game .header{
    font-family: "Platypi", serif;
    width: 100vmin;
    height: 10vmin;
    margin-bottom: 2vmin;
    background: rgb(71, 71, 101);
    color: white;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7.5vmin;
}

.main .game .header i{
    margin-left: 1.25vmin;
    color: rgb(30, 29, 29);
}

.main .game .field .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    border-radius: 1vmin;
    background: rgb(71, 71, 101);
}

.main .game .field .box img{
    width: 10vmin;
}